body{
	height:100%;
	width:100%;
	
	background: rgb(240, 240, 240);
}

.content{
	width: 800px;
	height: 100%;
	
	
	margin: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
}

header{
	background: url("logo.png") no-repeat center;
	
	width: 100%;
	height: 400px;
		
	margin-top: 150px;
	margin-bottom: 150px;
}

.p{
	width: 100%;
	
}

.p p {
	width: 200px;
	height: 200px;
	float: left;
}